<nav>
  <h2 class="logo">Header</h2>
  <ul>
    <li>
      <a
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active"
        routerLink="/home"
        >Home</a
      >
    </li>
    <li>
      <a
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active"
        routerLink="/profile"
        >Profile</a
      >
    </li>
    <li>
      <a
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active"
        routerLink="/user-details/5"
        >User-Dtails</a
      >
    </li>
  </ul>
</nav>
