.main {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-image: linear-gradient(125deg, #6a89cc, #b8e994);
  box-sizing: border-box;
}
.container {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #45f3ff;
}
.container h1 {
  font-size: 160px;
  margin: 0;
  font-weight: 900px;
  letter-spacing: 20px;
  background: url("../../../assets/image/error.jpg") center no-repeat;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.container a {
  text-decoration: none;
  background-color: #45f3ff;
  color: #fff;
  padding: 12px 24px;
  display: inline-block;
  border-radius: 25px;
  font-size: 14px;
  text-transform: uppercase;
  transition: 0.4s;
}
.container a:hover {
  background-color: #fff;
  color: #45f3ff;
}
